In [1]:
import pandas as pd

# Load CSVs
contestants = pd.read_csv("../data/contestant_table.csv")
seasons = pd.read_csv("../data/season_table.csv")
tribes = pd.read_csv("../data/tribe_table.csv")

# Preview the first few rows of each
print("Contestants:")
display(contestants.head())

print("Seasons:")
display(seasons.head())

print("Tribes:")
display(tribes.head())

Contestants:

,contestant_name,age,hometown,profession,num_season,finish,gender,african_american,asian_american,latin_american,...,num_boot,tribe1,tribe2,tribe3,quit,evac,ejected,fmc,num_jury_votes,normalized_finish
0,Sonja Christopher,63,"Walnut Creek, CA",Musician/Retired Teacher,1,16,F,0,0,0,...,1,Tagi,NaN,NaN,0,0,0,0,NaN,0.0000
1,B.B. Andersen,64,"Mission Hills, KS",Real Estate Developer,1,15,M,0,0,0,...,2,Pagong,NaN,NaN,0,0,0,0,NaN,0.0625
2,Stacey Stillman,27,"San Francisco, CA",Attorney,1,14,F,0,0,0,...,3,Tagi,NaN,NaN,0,0,0,0,NaN,0.1250
3,Ramona Gray,29,"Edison, NJ",Biochemist,1,13,F,1,0,0,...,4,Pagong,NaN,NaN,0,0,0,0,NaN,0.1875
4,Dirk Been,23,"Spring Green, WI",Dairy Farmer,1,12,M,0,0,0,...,5,Tagi,NaN,NaN,0,0,0,0,NaN,0.2500

Seasons:

,num_season,season,merged_tribe,num_merge,day_merge,num_jury,num_ftc,num_swaps,num_contestants,redemption_island,...,african_american,asian_american,latin_american,poc,lgbt,jewish,muslim,num_quits,num_evacs,winner
0,1,Survivor: Borneo,Rattana,10,20,7,2,0,16,0,...,2,0,0,2,2,0,0,0,0,Richard Hatch
1,2,Survivor: The Australian Outback,Barramundi,10,20,7,2,0,16,0,...,2,0,1,3,2,0,0,0,1,Tina Wesson
2,3,Survivor: Africa,Moto Maji,10,20,7,2,1,16,0,...,2,0,1,3,1,1,0,0,0,Ethan Zohn
3,4,Survivor: Marquesas,Soliantu,10,20,7,2,1,16,0,...,2,0,0,2,1,0,0,0,0,Vecepia Towery
4,5,Survivor: Thailand,Chuay Jai,8,25,7,2,0,16,0,...,2,1,0,3,0,0,0,0,0,Brian Heidik

Tribes:

,num_season,tribe,iter_num,num_contestants,merge,african_american,asian_american,latin_american,poc,jewish,muslim,lgbt,male,female,non_binary,color
0,1,Tagi,1,8,0,0,0,0,0,0,0,2,4,4,0,Orange
1,1,Pagong,1,8,0,2,0,0,2,0,0,0,4,4,0,Yellow/Gold
2,1,Rattana,0,10,1,1,0,0,1,0,0,1,5,5,0,Green
3,2,Kucha,1,8,0,2,0,0,2,0,0,1,4,4,0,Blue/Teal
4,2,Ogakor,1,8,0,0,0,1,1,0,0,1,4,4,0,Green